/*-----------Nav Bar------------*/

.navbar-nav > li{
    padding-left:1vw;
    padding-right:1vw;
  }

#pers_greet{
    color:white;
    margin-left: 5%;
}

/*-----------Global Styling------------*/

body { 
    padding-bottom: 5vh; 
}

.blog_title{
    padding-bottom: 2vh;
    font-size: 300%
}

.blog_post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}

#content {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 2vh;
    padding-left: .5vh;
    padding-right: .5vh;
}

.short_description{
    color: white;
    background-color: rgb(24, 27, 25);
    position: absolute;
    min-width: 75vw;
    max-width: 75vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    bottom: 5px;
    border-radius: 0 0 50px 50px;

}

/*-----------Images------------*/

img {
    width:75vw;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
}

 /*-----------Home------------*/

.post_title.home{
    font-size: xx-large;
    color: black;

} 
.home_img:hover {
    opacity: 0.9;
  }
.container{
    position: relative;
    text-align: center;
}
/*-----------Post------------*/
.post_title.post{
    padding-top: 1vh;
    padding-bottom: 3vh;
}

.feedback {
    display: flex;
    justify-content: space-evenly;
    align-content:center;
    min-width: 75vw;
    padding-top: 1vh;
}

.comment{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.feedback_sign_in{
    padding-top: 2vh;
}

.view_feedback{
    display: flex;
    justify-content: space-evenly;
    min-width: 75vw;
}

.detailed_description{
    max-width: 75vw;
}
.comment_text{
    display:flex;
    flex-direction: column;
}
.view_comments{
    display:flex;
    flex-direction: column;
}

.view_ratings{
    display:flex;
    flex-direction: column;
}

/*-----------Error------------*/

.login_error {
    color: red;
    text-transform: capitalize;
}


/*-----------Footer------------*/
footer{
    padding-top: 2vh;
}
.navbar-nav.bottom > li{
    padding-left: 6vw;
    padding-right: 6vw;
}

#signature{
    color:white;
}